<h2>Create stock form</h2>
<div class="form-group">
  <form (ngSubmit)="createStock()">
    <div class="stock-name">
      <input name="stockname" type="text" placeholder="Stock name"
         [(ngModel)]= "stock.name"
      >
    </div>
    <div class="stock-code">
        <input name="stockcode" type="text" placeholder="Stock code"
           [(ngModel)]= "stock.code"
        >
      </div>
      <div class="stock-price">
        <input name="stockprice" type="number"
           placeholder="Stock price"
           [ngModel]="stock.price"
           (ngModelChange)="setStockPrice($event)"
        >
      </div>
      <div class="stock-exchange">
        <div>
          <input type="radio" name="stockExchange"
             [(ngModel)]="stock.exchange"
             value="EUNEXT"/>Euro Next
        </div>
        <div>
            <input type="radio" name="stockExchange"
            [(ngModel)]="stock.exchange"
            value="NYSE"/>NYSE
        </div>
        <div>
            <input type="radio" name="stockExchange"
            [(ngModel)]="stock.exchange"
            value="OTHER"/>Other
        </div>
      </div>
      <div class="stock-confirm">
        <input type="checkbox" name="stockConfirm"
           [(ngModel)]="confirmed"> I confirm that this correct
      </div>
      <button type="submit" [disabled]="!confirmed">Create</button>
      <button type="button" (click)="stock.name='text'">Reset</button>
  </form>
</div>
<h3>Stock name is {{ stock.name }}</h3>